/* ================= IMPORTAÇÃO DE VARIÁVEIS ================= */
@import url(variavel.css);

/* ================= RESET GLOBAL ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid green; */
}

/* ================= BASE DO DOCUMENTO ================= */
html {
    scroll-behavior: smooth;
    color: var(--color-text-muted);
    font-family: var(--font-primary);
    font-size: clamp(10px, 2vw, 16px);
}

/* ================= CONTAINER GLOBAL ================= */
.container {
    width: 90%;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: var(--space-sm);

}

/* ================= UTILITÁRIOS ================= */
a {
    text-decoration: none;
    color: var(--color-text);
}

.icon {
    color: var(--color-social);
}
/* ================= BOTÕES ================= */
.btn {
    width: fit-content;
    border-radius: var(--radius-md);
    padding: var(--space-sm);
    font-size: var(--fs-small);
    font-weight: var(--fw-semibold);
    transition: var(--transition-slow);
    text-decoration: none;
}

.btn:hover {
    transform: var(--hover-scale-md);
    background: var(--color-text-muted);

}

/* ================= HEADER ================= */
.header {
/* Fixa o header no topo da Página */
    position: sticky;
    top: 0;
    z-index: 100;
    
    background-color: var(--color-bg-alt);
    box-shadow: var(--shadow-md)
}

/* Container do header */
.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: var(--space-md);

    border-bottom: 1px solid white;
}

.header__container.ativa{
    flex-direction: column;

}

/* Logo */
/* Título/logo */
.header__title {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    color: var(--color-logo);
    align-items: flex-start;
}

/* Navegação */
/* Estado padrão - mobile */
.nav {
    display: none;
}

/* Quando JS adiciona a classe ativa */
.nav.ativa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    gap: var(--space-md);
}


.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    gap: var(--space-xm);
}

/* Itens da navegação */
.nav__item {
    font-weight: var(--fw-semibold);
    color: var(--color-text);
    list-style: none;
    transition: var(--transition-normal);
}

.nav__item:hover {
    transform: var(--hover-scale-sm);
}

/* Redes sociais do header */
.nav__social {
    display: flex;
    align-items: center;
    gap: var(--space-md);
}

.nav__social--link {
    color: var(--color-link);
    transition: var(--transition-normal);
}

.nav__social--link:hover {
    transform: var(--hover-scale-md);
}

/* Ações (login, etc.) */
.nav__actions {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}

.action__link {
    background-color: aqua;
    padding: var(--space-xs);
}

/* Botão menu mobile */
.header__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    
    color: var(--color-logo);
    border: none;
}
    /* Padrão */
.header__toggle .fa-xmark {
    display: none;
}

/* Quando ativa — xmark aparece */
.header__toggle.ativa .fa-xmark {
    display: block;
}

/* Quando ativa — bars some */
.header__toggle.ativa .fa-bars {
    display: none;
}


/* ================= HERO ================= */
.hero {
    background: var(--gradient-hero);
    scroll-margin-top: 95px;
}

/* Container do hero */
.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xl);
}

/* Conteúdo textual */
.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    max-width: 600px;
    text-align: left;
}

/* Título */
.hero__title {
    font-size: var(--fs-h1);
    line-height: 1;
    color: var(--color-text);
}

/* Highlight */
.hero__highlight {
    display: inline-block;
    color: var(--color-text-muted);
}

/* Texto */
.hero__text {
    font-weight: var(--fw-semibold);
    font-size: var(--fs-medium);
    opacity: 0.8;
}

/* Redes sociais */
.hero__social {
    display: flex;
    gap: var(--space-md);
}

/* Botão principal */
.btn--primary {
    text-align: center;
    background-color: var(--color-white);
    color: var(--color-primary-700);
    font-weight: var(--fw-bold);
}

/* Imagem */
.hero__figure {
    margin: 0 auto;
}

.hero__figure img {
    width: 100%;
    border-radius: 40% 10% 40%;
}

/* ================= SOCIAL PROOF ================= */
.social-proof {
    background: var(--gradient-section);
    scroll-margin-top: 45px;
}

.social-proof__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: var(--space-md);
    border-top: 1px solid rgba(255,255,255,0.15);
}

.social-proof__title {
    text-align: center;
    color: var(--color-secondary-500);
    padding: var(--space-md);
    font-size: var(--fs-h2);
}

.social-proof__title::after {
    content: '';
    display: block;
    width: 120px;
    height: 2px;
    background: var(--color-secondary-500);
    margin: var(--space-xs) auto 0;
}


.social-proof__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--space-xs);
}
.social-proof__item--destaque {
    padding: var(--space-md);
    scale: 1.3;
}

.social-proof__number {
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    color: var(--color-secondary-500);
    line-height: 1.2;
    transform: rotateZ(-4deg);
}

.social-proof__desc {

    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
}
.social-proof__star {
    padding: var(--space-sm);
}
.social-proof__star img {
    width: clamp(70px,7vw, 150px);
}
/* ================= ABOUT ================= */
.about {
    background: var(--gradient-hero);
    scroll-margin-top: 40px;
}

.about__title {
    display: flex;
    justify-content: center; 
    font-size: var(--fs-h2);
        
    padding: var(--space-lg);
}

.about__text {
    color: var(--color-text-muted);
}

.about__container {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

/* Imagem */


.about__image img {
    width: 90%;
    border-radius: 50% 25% 60%;
}

/* Conteúdo */
.about__description {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

/* Redes sociais */
.about__social {
    display: none;
    gap: var(--space-sm);
}

/* ================= SERVIÇOS / CARDÁPIO ================= */
.services {
    background: var(--gradient-section-alt);
    scroll-margin-top: 45px;
    min-height: 100svh;
}

.services__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    gap: var(--space-xl);
}

/* Título */
.services__title {
    font-size: var(--fs-h2);
    color: var(--color-text-sect);
}

/* Grid de produtos */
.services__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--space-xl);
    justify-items: center;
}

/* Card */
.services__item {
    width: 100%;
    max-width: 350px;
    display: flex;

    flex-direction: column;
    background: var(--color-card);
    border-radius: var(--radius-md);
    padding: var(--space-sm);
}

/* Nome */
.services__name {
    font-size: var(--fs-h4);
    color: var(--color-error);
}

/* Imagem */
.services__image img {
    width: 80%;
    border-radius: var(--radius-md);
}

/* Descrição */
.services__desc {
    font-size: var(--fs-body);
    font-weight: var(--fw-medium);
    opacity: 0.8;
}

/* Preço */
.services__price {
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
    color: var(--color-primary);
}

/* Variações */
.services__item--product {
    outline: 4px double var(--color-text-muted);
}

.services__item--hot {
    outline: 6px double var(--color-white);
    scale: 1.1;
}

/* ================= TESTIMONIALS ================= */
.testimonials {
    background-color: var(--color-bg);
    scroll-margin-top: 45px;
}

.testimonials__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    gap: var(--space-lg);
}

/* Título */
.testimonials__title {
    display: flex;
    justify-content: center;
    color: var(--color-text);
    font-size: var(--fs-h2);

    padding: var(--space-md);
}

/* Card */
.testimonials__item:hover {
    transform: var(--hover-scale-sm);
    background-color: var(--color-text-muted);
    filter: contrast(1.1);
}
.testimonials__item {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: var(--radius-md);
    background: var(--color-surface);
    padding: var(--space-md);
    transition: var(--transition-slow);
}


/* Perfil */
.testimonials__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
    text-align: center;
}

/* Foto */
.testimonials__photo img {
    width: 80px;
}

/* Info */
.testimonials__info {
    color: var(--color-error);
}

.testimonials__name {
    font-weight: var(--fw-bold);
}

.testimonials__role {
    font-size: var(--fs-small);
}

/* Texto */
.testimonials__description {
    width: 250px;
    color: black;
    font-size: var(--fs-body);
    padding: var(--space-sm);

}

/* ================= CTA ================= */
.cta {
    background-color: var(--color-bg-alt);
    background-image: url(../images/cta/background_cta2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5); /* sobreposição escura */

    border-bottom: 4px solid var(--color-bg-alt);
}

.cta__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-md);
}

/* Título */
.cta__title {
    font-size: var(--fs-h3);
    color: var(--color-text);
}

/* Texto */
.cta__desc {
    color:var(--color-text-sect);
    font-weight: bold;
}

/* Botão */
.link__cta {
    width: 50%;
    margin: 0 auto;
    font-size: var(--fs-small);
    background-color: #1bcc5c;
    border-radius: var(--radius-xl);
    transition: all 0.5s;

    padding: var(--space-sm);
}

.link__cta:hover {
    transform: var(--hover-scale-md);
}

.btn__cta {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ícone */
.cta__icon {
    font-size: var(--fs-h3);
}

.cta__trust{
    display: flex;
    justify-content: center;
    opacity: 0.8;
    gap: var(--space-md);  
}

/* ================ FOOTER ============== */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg);
}

.footer h2 {
    font-size: var(--fs-h3);
}

.footer__heading {
    text-align: center;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    justify-content: space-between;
}

.footer__link {
    color: var(--color-text);
}

.footer__social {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.footer__social--icons {
    display: flex;
    gap: var(--space-sm);
}

.footer__policy {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

/* ========================================= */
/* DESKTOP */
/* ========================================= */
@media (min-width: 768px) {
    /* Variaveis Globais */
    .container {
        max-width: none;
        padding: var(--space-md);
    }

    /* HEADER */
    .header__container {
        width: 95%;
        flex-direction: row;
        justify-content: space-between;
        padding: var(--space-xs);
    }

    .nav {
        display: flex;
        gap: var(--space-lg);
    }

    .header__toggle {
        display: none;
    }

    .nav__list {
        display: flex;
        gap: 20px;
        flex-direction: row;
    }

    /* HERO */
    .hero {
        min-height: 100dvh;
    }

    .hero__container{
        flex-direction: row;
        width: 100%;
        padding: var(--space-lg);
    }
    
    .btn--primary {
        margin-top: var(--space-lg);
        align-self: center;
    }

    .hero__social--link {
        transition: var(--transition-fast);
    }
    .hero__social--link:hover {
        transform: var(--hover-scale-lg);
    }

    /* Social proof */
    .social-proof__container {
        justify-content: space-between;
    }



    /* ABOUT */
    .about__title {
        display: flex;
        justify-content: center;
        font-size: var(--fs-h2);
        
        padding: var(--space-lg);
    }

    .about__container {
        align-items: flex-start;
        justify-content: space-between;
        min-height: 80dvh;
        flex-direction: row;

    }

    .about__image img {
        width: clamp(350px, 50vw, 700px);
        border-radius: 60% 20px 80%;
    }

    .about__description {
        gap: var(--space-xl);
    }

    .about__subtitle {
        text-align: center;
        font-size: var(--fs-h3);
        font-weight: var(--fw-bold);
    }

    .about__text {
        font-size: var(--fs-body);
        font-weight: var(--fw-semibold);
    }

    .about__social {
        display: flex;
        font-style: italic;
        gap: var(--space-lg);
        justify-content: end;
    }

    .about__social-link {
        transition: var(--transition-fast);
    }
    .about__social-link:hover {
        transform: var(--hover-scale-md);
    }

    /* SERVICES / CARDÁPIO */
    .services {
        min-height: 100svh;
    }
    .services__container {
        padding: 40px;
        gap: var(--space-md);
    }
    .services__title {
        padding: var(--space-sm);
    }
    .services__grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .services__item {
        transition: var(--transition-normal);
    }
    
    .services__item:hover {
        transform: var(--hover-scale-sm) var(--translate-lg);
    }

    .services__item--hot:hover {
        transform: var(--hover-scale-sm) var(--translate-lg);
    }
    
    .services__image img {
        width: 70%;
    }

    /* TESTIMONIALS */
    .testimonials__container {
        flex-direction: row;
    }

    .testimonials__item {
        width: 33%;
    }

    /* CTA */
    .cta {
        min-height: 400px;
    }

}
/* =============================================== */
/* =================== TABLET =====================*/
/* =============================================== */
@media (min-width: 768px) and (max-width: 1024px) {
    
    /* HERO */
    .hero {
        min-height: auto;
    }

    .hero__container {
        flex-direction: column;
    }
    
    .hero__content {
        min-width: 90%;
    }

    .hero__figure img {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    /* ABOUT */
    .about__container {
        flex-direction: column;
    }

    .about__description {
        gap: var(--space-lg);
    }
    
    .about__subtitle {
        font-size: var(--fs-h2);
    }

    .about__text {
        font-size: var(--fs-h4);
    }
    .about__image img {
        width: 100%;
    }

    .about__social {
        display: none;
    }

/* SERVICES / CARDÁPIO */
    .services__grid {
        grid-template-columns: 1fr;
    }

    .services__item {
        max-width: 500px;
    }
    
    .services__image img {
        width: 50%;
    }

    /* TESTIMONIALS */
    .testimonials__container {
        flex-direction: column;
    }

    .testimonials__item {
        width: 500px;
    }

}
